@font-face {
  font-family: norse-bold;
  src: url("Norse-Bold.otf");
}

:root {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --light-grey: #E5E7EB;
  --red: #dc3545;
  --green: #596D48;
  --blue: #007bff;
}

body {
  display: flex;
  align-items: stretch;
  min-height: 100%;
  margin: 0;
}

.image-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  background-image: url("bg-img.jpg");
  background-size: cover;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 2;
  background-color: var(--light-grey);
}

.logo-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  position: absolute;
  top: 20%;
  padding: 15px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo-image {
  height: 130px;
  width: auto;
}

.logo-text {
  color: white;
  font-family: norse-bold, sans-serif;
  font-size: 6rem;
}

.image-source {
  margin: auto auto 5px;
  color: white;
}

.image-source > a {
  color: white;
}

.header-text {
  padding: 0 20% 0 5%;
  font-weight: bold;
  font-size: 1.5rem;
}
